h1 {text-align:center;
    font-size:60px;
  color:blue;
  background:rgba(155,155,155,0.3);
  border: 3px solid black;
  border-radius: 10px;}

body {background:linear-gradient(35deg,black, white);}

p{text-align:center;
   font-size:25px;}

li {padding:10px;}

figcaption {text-align:center;
font-size:25px;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;}

#tribute-info{
  font-family:monospace;
  border:3px solid rgba(65, 65, 131,0.6);
}